<!-- Patterns info:
lowercaseDetector  = detectorDetector
spacedDetector = Detector Detector
  -->

<!-- $start index.html:collapsible:#lowercaseDetector#$-->
<li>
  <div class="collapsible-header"><span>#spacedDetector#</span></div>
  <div class="collapsible-body">
    <div class="collapsible-body-grid">
      <div class="debug-image-index-div">
        <label>
          <input name="group1" type="radio" checked />
          <span>0</span>
        </label>
      </div>
      <div class="parameters-div">
        <form></form>
      </div>
    </div>
  </div>
</li>
<!-- $end index.html:collapsible:#lowercaseDetector#$-->
